# Planejamento da solução - IOT

## Entradas

### O Problema de negócio

A empresa Insurance All atualmente atua no setor de seguros de saúde e pretende atuar no setor de seguro de automóveis. Eles fizeram uma pesquisa com 380 mil clientes sobre o interesse de aquisição desse novo produto e armazenaram em um banco de dados. Agora, o time comercial precisa ofertar o novo seguro para 127 mil clientes que não fizeram a pesquisa, durante uma campanha. As vendas são feitas através de ligações telefônicas.Porém, o time comercial só tem capcidade de fazer 20 mil ligações no período da campanha.

Para determinar para quais clientes o time comercial deve ligar, a Insurance All te contratou como consultor de ciência de dados. Como resultado da sua consultoria, você precisará entregar um relatório contendo algumas análises e respostas às seguintes perguntas:

- Principais Insights sobre os atributos mais relevantes de clientes interessados em adquirir um seguro de automóvel.
- Qual a porcentagem de clientes interessados em adquirir um seguro de automóvel, o time de vendas conseguirá contatar fazendo 20.000 ligações?
- E se a capacidade do time de vendas aumentar para 40.000 ligações, qual a porcentagem de clientes interessados em adquirir um seguro de automóvel o time de vendas conseguirá contatar?
- Quantas ligações o time de vendas precisa fazer para contatar 80% dos clientes interessados em adquirir um seguro de automóvel?

### Fonte de dados

Os dados dos clientes e pesquisa estão armazenados em um banco de dados (Postgres 12.0 na AWS).





## Saídas
Entrega de um relatório interativo com as informações pedidas no Google Data Studio



## Tarefas
- Descrição dos dados
    - Substituição de NAs
- EDA
    - Análise Univariada
    - Análise Bivariada
    - Análise Multivariada
    - Relatório de Insights
    - Detecção de outliers
    - Feature engineering
    - Feature selection
- Treinamento dos algoritmos de Machine Learning
    - Análise de performance
- Aplicação do modelo na base de 127 mil clientes
    - Exportação dos resultados
- Criação de relatório no Data Studio

# 0.0 Imports

In [9]:
import pandas as pd
from sqlalchemy import create_engine

In [13]:
import psycopg2

## 0.1 Data colection

In [60]:
#connection = psycopg2.connect(
 #   host = 'comunidade-ds-postgres.c50pcakiuwi3.us-east-1.rds.amazonaws.com',
  #  port = 5432,
   # user = 
    #password = 
    #database=
    #)
#cursor=connection.cursor()

In [48]:
query = '''SELECT table_name,column_name, data_type, table_schema
FROM INFORMATION_SCHEMA.COLUMNS
where table_schema = 'pa004'
ORDER BY table_name '''

In [49]:
database = pd.read_sql(query, con=connection)
connection.commit()

In [50]:
database

   table_name           column_name         data_type table_schema
0   insurance               vintage           integer        pa004
1   insurance    previously_insured           integer        pa004
2   insurance                    id           integer        pa004
3   insurance              response           integer        pa004
4   insurance        annual_premium  double precision        pa004
5       users           region_code  double precision        pa004
6       users                    id           integer        pa004
7       users                   age           integer        pa004
8       users                gender              text        pa004
9       users  policy_sales_channel  double precision        pa004
10    vehicle                    id           integer        pa004
11    vehicle           vehicle_age              text        pa004
12    vehicle        vehicle_damage              text        pa004
13    vehicle       driving_license           integer        pa004

In [51]:
insurance_query = '''SELECT * FROM pa004.insurance'''
insurance = pd.read_sql(insurance_query, con=connection)

In [53]:
users_query = '''SELECT * FROM pa004.users'''
users= pd.read_sql(users_query, con=connection)

In [54]:
vehicle_query = '''SELECT * FROM pa004.vehicle'''
vehicle = pd.read_sql(vehicle_query, con=connection)

# 1.0 Descrição dos dados